<!-- <div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>
 -->


      <!-- form card login -->
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <!-- Error loading events -->
          <p *ngIf="loginError" class="alert alert-danger">
            <strong>Oops!</strong> {{loginErrorMessage}}.
            <a *ngIf="!_auth.userVerified" href="#" class="alert-link" (click)="_auth.verifyUser()"><br>Re-send verification email?</a>
          </p>
          <form class="form" #loginForm="ngForm">
            <div class="form-group">
              <input type="email" id="inputEmail" class="form-control rounded-0" placeholder="Email address" [(ngModel)]="loginUserData.email"
                name="email" #email="ngModel" required autofocus>
              <p *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">Please provide an email</p>
            </div>
            <div class="form-group">
              <input type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" [(ngModel)]="loginUserData.password" name="password"
                #password="ngModel" required>
              <p *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">Please provide a password</p>
            </div>
            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
            <button type="submit" (click)="loginUser()" class="btn btn-success float-right" [disabled]="loginForm.invalid">Login</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    <!-- </div> -->

    <div *ngIf="loading" class="modal fade show">
      <div class="loading-indicator">
        <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
      </div>
    </div>
<!-- 
  </div>
</div> -->